---
import Section from "@/components/Section.astro";
import { truncateText } from "@/utils/format";
import { projects } from "@cv";
---

<div class="no-print">
  <Section title="Proyectos">
    <div class="my-4">
      <ul class="flex flex-wrap gap-1 justify-center">
        {
          projects.map(({ isActive, name, url, description, highlight }) => {
            if (!isActive) return;
            return (
              <li>
                <article class="rounded-lg border bg-[#f8f8f8] gap-2 flex flex-col p-4 h-[234px] w-[220px]">
                  <header class="flex-1">
                    <a
                      href={url}
                      target="_blank"
                      title={`Ver el proyecto ${name}`}
                    >
                      <h3 class="font-bold mb-1 flex justify-between">
                        <span>{name}</span> <span>🔗</span>
                      </h3>
                    </a>
                    <p class="text-sm text-wrap">{truncateText(description)}</p>
                  </header>

                  <footer class="flex flex-wrap gap-1 text-xs">
                    {highlight.map((item) => (
                      <span class="px-[0.4rem] py-[0.1rem] rounded-md font-xs font-medium inline-flex text-[#fff] bg-[#444]">
                        {item}
                      </span>
                    ))}
                  </footer>
                </article>
              </li>
            );
          })
        }
      </ul>
    </div>
  </Section>
</div>

<style>
  @media print {
    .print {
      display: block;
    }

    .no-print {
      display: none;
    }
  }
</style>
